<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon %>
    <%= stylesheet 'vendor/bootstrap/css/bootstrap.min.css', 'styles' %>
    <%= javascript '/vendor/jquery.min.js', '/vendor/bootstrap/js/bootstrap.min.js' %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> <![endif]-->
  </head>
  <body>
    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
