<hr>
<div class="row">
  <h4>Your message:</h4>
  <div class="well well-sm">
    <%= message.text %>
  </div>
  <%= link_to 'Back', routes.root_path, class: 'btn btn-default', title: 'Go back' %>
</div>
<hr>
<script type="text/javascript">
  var encrypted_value = "<%= message.text %>";
</script>
